body{
    margin: 0 auto;
    font-family: inter;
}

.app{
    margin: 0 auto;
    margin-top: 20px;
    background-color: #1A1B21;
    color: #FFFFFF;
    max-width: 19.8125em;
    text-align: center;
    border-radius: 20px;
}

.head-shot{
    width: 19.8125em;
    border-radius: 20px 20px 0 0 ;
}

.contact{
    text-align: center;
}

.contact-name{
    margin: 0;
    padding-top: 1.3125rem;
}

.contact-sub-header{
    margin: 0;
    padding: 6.19px;
    color: #F3BF99;
    font-size: 12.8px;
    line-height: 15px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.contact-btn{
    width: 7.0625em;
    height: 2.125em;
    background-color: #D1D5DB;
    padding: 9px, 13px, 9px, 11px;
    margin: 5px;
    border-radius: 5px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email-btn{
    background-color: #FFFFFF;
    color:  #374151;
}

.linkedin-btn{
    background-color: #5093E2;
    color: #FFFFFF;
}

.about{
    text-align: left;
    color: #DCDCDC;
    padding: 17px 34px;
}

.about-sect-header{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.about-sect-body{
    font-size: 10.24px;
    line-height: 15.36px;
    margin: 0;
}

.footer{
    height: 64px;
    text-align: center;
    background-color: #161619;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.icons{
    width: 1.5rem;
    background: #918E9B;
    padding: 1px;
}

.contact-icons{
    width: 1.5rem;
}